html {
	font-size: 16px; 
	font-size: 62.5%;
}
@font-face{
	font-family: 'Voga';
	src: url('../fonts/voga.otf');
}

/* --- Main --- */
body{
	font-size: 1.6rem;
	font-weight: 300;
	background-color: #242D49;
	color: #0c0c0c;
}
header{
	background-image: url(../img/bkgr.jpg);
	background-size: 100% 100%;
	background-attachment: fixed;
	text-align: center;
	padding-top: 10%;
	padding-bottom: 10%;
}

section{
	width: 95%;
	padding: 2.5%;
}
.container{
	background-color: #608394;
	color: #f4f2f0;
	/*color: #ddd8d4;*/
}
.summary, .background{
	background-color: #f4f2f0;
	padding-bottom: 10rem;
	padding-top: 5rem;
}
.characters{
	background-color: #394e58;
	color: #e5e5e5;
}

.char{
	width: 48%;
	float: left;
	margin-right: 2%;
	line-height: 1.5;
}

.summary p, .container p, .background p{
	line-height: 1.5;
/*	columns: 2;
	column-width: 3rem;*/

}
.innercontain{
	float: left;
	width: 40%;
	margin-right: 7%;
	margin-bottom: 5%;
}


img{
	width: 25%;
	height: auto;
}

/* Heading Images */
.backimage{
	background-image: url(../img/bkgr-2.jpg);
	background-size: cover;
	background-attachment: fixed;
	padding-top: 20rem;
	padding-bottom: 20rem;
}

.charimage{
	background-image: url(../img/bkgr-3.jpg);
	background-size: cover;
	background-attachment: fixed;
	padding-top: 20rem;
	padding-bottom: 20rem;

}
.plotsumm{
	background-image: url(../img/bkgr-4.jpg);
	background-size: cover;
	background-attachment: fixed;
	padding-top: 20rem;
	padding-bottom: 20rem;

}

/* HEADINGS */
h1{
	font-size: 30rem;
	font-family: 'Voga';
	font-weight: 400;
	color: #f4f2f0;
	background-color: #0f0d00;
	line-height: 36rem;
}
h2{
	font-size: 20rem;
	text-align: center;
	color: #f4f2f0;
	font-family: 'Voga';
	background-color: #0f0d00;
	line-height: 24rem;
	letter-spacing: -1rem;
}
h3{
	font-size: 3.6rem;
	font-family: 'Ubuntu';
	font-weight: 400;
	line-height: 4.6rem;
	/*background-color: #4c6876;*/
}
h4{
	font-size: 2.4rem;
	font-family: 'Ubuntu';
	line-height: 3.6rem;
	background-color: #4c6876;
	margin-top: 5rem;
}
p{
	font-family: 'Ubuntu', sans-serif;

}


/* --- Navigational Behaviours --- */
/*nav a {
	text-decoration: none;
}

a:link {
	color: #333;
}
a:active {
	color: #333;
}
a:hover {
	color: #999;
}
a:visited {
	color: #999;
}
*/